body {
  margin: 0px;
  padding: 0px;
}
.main_div {
  margin-top: 90px;
  display: flex;
  justify-content: end;
}
.all_users_post {
  padding: 5px;
  width: 100%;
}
.create_post {
  width: 50%;
  margin-right: 30px;
}
.hide_profile {
  display: none;
}
.user_profie_photo {
  text-align: center;
  margin-top: 100px;
}
.user_profile_box {
  box-shadow: -2px 2px 8px 5px #6b728040;
  background-color: #ffffff;
  position: fixed;
  top: 90px;
  left: 30px;
  width: 40%;
  height: 600px;
  border-radius: 10px;
}
.user_name {
  margin-top: 20px;
  height: 80px;
}
.user_info {
  color: #6b7280;
}
.upload_btn{
  position: absolute;
  right: 0px;
  left: 0px;
  top: 165px;
  z-index: 1;
}